/* Nav bar CSS */
/*  .navbar reset */
.navbar * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styling */
.navbar {
    background-color: #122718;

    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0; /* sticks to the top of the page */
    z-index: 1000; /* Ensures the navbar stays above other content */
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    text-align: center;
}
.navbar img {
    width: 30%;
    min-width: 200px;
}
.navbar a {

    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #77777700;
}


/* Containers and everything else */


* {
    box-sizing: border-box;
  }

  /* Body padding */
  .padding {
    padding: 5px 10px 10px 10px;
  }
  
  /* background color and font */
  body {
    font-family: Arial;
    background: #ebd495;
  }
  
  /* Create two columns */

  .rightcolumn {   
    float: right;
    width: 75%;
    
  }
  
  .leftcolumn {
    float: left;
    width: 25%;
    padding-right: 15px;
  }
  
  
  /* Make cards */
  .card {
     padding: 2px 20px 15px 20px;
     margin-top: 10px;
     background: white;
     box-shadow: 0 4px 12px rgba(0,0,0,0.1);
     border-radius: 8px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Layout changes when mobile */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

/* Change hyperlink on hover 
.padding a:hover {
    color: red;
    
  }
*/

  /* Text formating */


  .card h1 {
    text-align: center;
  }

  .logo-align { 
    display: flex;
    justify-content: center; 
  }

  #ScoutLogo1 {
    max-width: 8%;
    min-width: 70px;
  }

.center-content {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
  
  #TreeRecyclingLogo {
    max-width: 40%;
    float: left;
    margin-left: 10px;
  }
  



  /*Button Blue*/
.blue-button {
    background-color: #005696;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 5px;
    width: 100%;
    max-width: 270px; 
    min-width: 200px;
}

.blue-button:hover {
    background-color: #003863; 
}

/*red button*/
.red-button {
    background-color: #800001;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 5px;
    width: 100%;
    max-width: 350px; 
}

.red-button:hover {
    background-color: #670812; 
}

/*Yellow Button*/
.yellow-button {
    background-color: #f90;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 5px;
    width: 100%;
    max-width: 300px;
}

.yellow-button:hover {
    background-color: #e18a06; 
}

/*Light Blue Button*/

.light-blue-button {
    background-color: #0392fb;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 5px;
    width: 100%;
    max-width: 200px; 
    min-width: 200px;
}

.light-blue-button:hover {
    background-color: #0261ff; 
}


/*Social media links*/

.fa img {
    width: 15%;
    margin-right: 10px; /* Add some space between the image and the text */
  }

.fa {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add some space between each logo */
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.fa:hover {
    opacity: 0.7;
}

/*Tree Button*/
.Treebutton {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.Treebutton:hover {
    opacity: 0.7;
}

/* Ad card */
.ad-card {
    padding: 2px 20px 15px 20px;
    margin-top: 10px;
}

.ad-card img {
    max-width: 100%;
    height: auto;
    width: auto;
}


/* Slideshow*/

* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 80px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

.fb-responsive-container {
  position: relative;
  width: 100%;
  max-width: 500px; /* optional max width */
  aspect-ratio: 4 / 5; /* approximate ratio of 500x628 */
  margin: 0 auto;
  }

.fb-responsive-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}
